<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="Pnet_WebApp_ID" version="2.5">
  <display-name>PowerNet Reports Application</display-name>
  <servlet>
    <servlet-name>IBMJAX-RSServlet</servlet-name>
    <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>com.pfg.pnet.reports.service.ReportAppConfig</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>IBMJAX-RSServlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>This is for Pnet Reports database</description>
    <res-ref-name>RICWC01B</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <listener>
    <listener-class>com.pfg.pnet.reports.core.ReportListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>MovementReport</servlet-name>
    <servlet-class>com.pfg.pnet.reports.servlet.MovementReport</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovementReport</servlet-name>
    <url-pattern>/movement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MovementResult</servlet-name>
    <servlet-class>com.pfg.pnet.reports.servlet.MovementResult</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovementResult</servlet-name>
    <url-pattern>/results</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportDashboard</display-name>
    <servlet-name>ReportDashboard</servlet-name>
    <servlet-class>com.pfg.pnet.reports.servlet.ReportDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportDashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
</web-app>